body, html, p, h1, h2 {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: #007D8C;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.header {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
}

.header img {
  width: 100%;
}


.header .weixin,
.header .logo {
  margin: 0 auto;
}

.header .weixin {
  width: 240px;
}

.header .logo {
  width: 250px;
  padding: 60px 0 40px 0;
}

.header h2 {
  font-size: 23px;
  padding-bottom: 20px;
  color: #fff;
}

.list {
  margin: 30px auto 120px auto;
  font-size: 14px;
  line-height: 23px;
  max-width: 320px;
}

.list .phone {
  margin: 0 20px;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff87;
  border-radius: 8px;
}